<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIZY</title>
    <style>
        body { font-family: "Fira Code"; }
        .todo-tree { list-style-type: none; padding-left: 20px; }
        .todo-item { border: 1px solid orange; padding: 10px; margin-bottom: 10px; }
        .todo-tree ul { border-left: 1px solid orange; }
    </style>
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>