{% extends 'todo_app/base.html' %}

{% block content %}
    <h1>Todo List</h1>
    <div class="todo-info">
        <p>Date: {{ today|date:"Y-m-d" }}</p>
        <p>Day: {{ today|date:"l" }}</p>
        <form method="post" action="{% url 'update_info' %}">
            {% csrf_token %}
            <label for="wake_up_time">Wake up time:</label>
            <input type="time" id="wake_up_time" name="wake_up_time" value="{{ wake_up_time }}">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" value="{{ location }}">
            <button type="submit">Update</button>
        </form>
    </div>
    <a href="{% url 'export_todos' %}" class="btn btn-primary">Export Today's Todos</a>
    {% endblock content %}